In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import FCPython
import os

spain_list = []
file_list = os.listdir('data/matches/11')
for i in file_list:
    spain_list.append(pd.read_json('data/matches/11/{}'.format(i)))

spain = pd.concat(spain_list)

event_list = []
for i in spain['match_id']:
    event_list.append(pd.read_json('data/events/{}.json'.format(str(i))))

events = pd.concat(event_list)

In [2]:
events.head()

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,foul_committed,block,interception,substitution,bad_behaviour,50_50,injury_stoppage,half_start,player_off,half_end
0,62fcd4a2-94ed-42f0-9c4e-d994ae217440,1,1,2021-09-06 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dcd47e2f-6a76-499e-abee-413417bd067e,2,1,2021-09-06 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1d6e44c2-fb77-479e-bb98-851952e9b3f9,3,1,2021-09-06 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,d8eaa47d-d089-45a6-b3b4-a59ab8f65a6a,4,1,2021-09-06 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 217, 'name': 'Barcelona'}","{'id': 1, 'name': 'Regular Play'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,547584c5-1b05-46ce-b61a-cd124d20b385,5,1,2021-09-06 00:00:07.279,0,7,"{'id': 30, 'name': 'Pass'}",2,"{'id': 217, 'name': 'Barcelona'}","{'id': 9, 'name': 'From Kick Off'}",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = events.copy()

In [4]:
df = df[["minute", "type",
           "team", "player", "location",
           "shot"]]

In [5]:
df = pd.concat([df, df["type"].apply(pd.Series).add_prefix('type_')], axis=1)

df = df.drop(columns = "type")

In [6]:
df = df[df["type_id"] == 16]

In [7]:
df = df.drop(columns = ["type_id", "type_name"])

In [8]:
df = pd.concat([df, df["player"].apply(pd.Series).add_prefix('player_')], axis=1)
df = df.drop(columns = "player")

In [9]:
df = pd.concat([df, df["location"].apply(pd.Series).rename({'0': 'X', '1': 'Y'}, axis=1)], axis=1)
df = df.drop(columns = "location")

In [10]:
df = pd.concat([df, df["team"].apply(pd.Series).add_prefix('team_')], axis=1)
df = df.drop(columns = "team")

In [11]:
df = pd.concat([df, df["shot"].apply(pd.Series)], axis=1)
df = df.drop(columns = "shot")

In [19]:
df = df.drop(columns = ["key_pass_id", "first_time", "aerial_won",
                   "deflected", "one_on_one", "open_goal",
                   "redirect", "saved_to_post", "saved_off_target",
                  "follows_dribble", "freeze_frame", "end_location"])

In [21]:
df = pd.concat([df, df["technique"].apply(pd.Series).add_prefix('technique_')], axis=1)
df = df.drop(columns = "technique")

In [23]:
df = pd.concat([df, df["outcome"].apply(pd.Series).add_prefix('outcome_')], axis=1)
df = df.drop(columns = "outcome")

In [25]:
df = pd.concat([df, df["type"].apply(pd.Series).add_prefix('type_')], axis=1)
df = df.drop(columns = "type")

In [27]:
df = pd.concat([df, df["body_part"].apply(pd.Series).add_prefix('body_part_')], axis=1)
df = df.drop(columns = "body_part")

In [31]:
df["Goal"] = df["outcome_name"] == "Goal"

In [39]:
df.to_csv("laliga_shots.csv")